<% if object.errors.any? %>
  <div class = "form__error">
    <ul class = "error-message">
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>